<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="~/css/style.css" />
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  <title>Portfolio</title>
</head>

<body>
  <nav>
    <div class="nav-wrapper blue darken-2">
      <a href="#" class="brand-logo center">Home</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/Projects">Projects</a>
        </li>
        <li>
          <a href="/Contact">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
  <div id="image">
    <img src="/images/profilepic.png" alt="profile Picture">
  </div>
  <div id="para">
    <h4>My name is Quon,</h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed congue libero. Maecenas enim urna, accumsan sed laoreet
      nec, tristique in neque. Mauris eu dui quis felis ultricies mattis. Maecenas dapibus, dui in tur laoreet, elit mauris
      semper purus, eu vehicula turpis augue sed tellus. Aliquam erat volutpat. Morbi eget nibh pellentesque, lacinia augue
      a, scelerisque orci. Etiam consequat quis neque ac suscipit. Sed id tellus accumsan elit dapibus ultrices. Donec ac
      pellentesque ligula. Curabitur lobortis leo vel mauris cursus ultrices. Cras aliquet, erat ac porttitor vulputate,
      lectus orci porta est, at feugiat augue elit feugiat massa.
    </p>
    <br>
    <p>
      Duis rhoncus libero risus, at gravida purus iaculis et. Nullam eget metus rhoncus, tristique felis et, molestie augue. Vivamus
      ornare dolor quam, vitae ornare magna convallis nec. Vestibulum semper, eros vitae ultricies tincidunt, lacus ligula
      imperdiet est, in efficitur magna est vitae risus. us enim, euismod ac augue quis, ornare euismod lacus. Suspendisse
      arcu dolor, cursus at lacinia sed, sollicitudin vel ante. Pellentesque iaculis leo nec ultricies pharetra. Aenean porttitor
      libero tellus, id tristique ipsum ornare ed molestie consectetur quam. Ut vitae purus in metus sodales mattis a vitae
      elit. Vivamus ullamcorper a ante non finibus. Nunc efficitur malesuada dolor ictum. Nunc lacinia nec nisi eu molestie.
    </p>
  </div>
</body>

</html>