<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="~/css/style.css" />
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  <title>Document</title>
</head>

<body>
  <nav>
    <div class="nav-wrapper blue darken-2">
      <a href="#" class="brand-logo center">Projects</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/Projects">Projects</a>
        </li>
        <li>
          <a href="/Contact">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="col s12 m7">
    <h4 class="header">Project HTML/CSS</h4>
    <div class="card horizontal">
      <div id="html" class="card-image">
        <img src="images/htmlcss.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>Cras vel posuere diam. Proin elementum lectus vehicula diam elementum, luctus vehicula dolor gravida. Maecenas
            vitae fringilla metus. Integer molestie cursus velit ac rutrum. Quisque nec mi nec massa ultrices ornare et eget
            purus. In ut arcu nec erat porttitor ultricies in porttitor lacus. Etiam eu nisi et ligula lacinia pulvinar.
            Curabitur in enim ut quam iaculis pulvinar nec ut ipsum. Pellentesque et mauris libero. Vivamus .
          </p>
        </div>
        <div style="text-align: right;" class="card-action">
          <a href="#">www.project_htmlcss.com</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m7">
    <h4 class="header">Project StromTrooper</h4>
    <div class="card horizontal">
      <div id="html" class="card-image">
        <img src="images/trooper.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>Cras vel posuere diam. Proin elementum lectus vehicula diam elementum, luctus vehicula dolor gravida. Maecenas
            vitae fringilla metus. Integer molestie cursus velit ac rutrum. Quisque nec mi nec massa ultrices ornare et eget
            purus. In ut arcu nec erat porttitor ultricies in porttitor lacus. Etiam eu nisi et ligula lacinia pulvinar.
            Curabitur in enim ut quam iaculis pulvinar nec ut ipsum. Pellentesque et mauris libero. Vivamus .
          </p>
        </div>
        <div style="text-align: right;" class="card-action">
          <a href="#">www.project_stormtrooper.com</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m7">
    <h4 class="header">Project PineApple</h4>
    <div class="card horizontal">
      <div id="html" class="card-image">
        <img src="images/supply.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>Cras vel posuere diam. Proin elementum lectus vehicula diam elementum, luctus vehicula dolor gravida. Maecenas
            vitae fringilla metus. Integer molestie cursus velit ac rutrum. Quisque nec mi nec massa ultrices ornare et eget
            purus. In ut arcu nec erat porttitor ultricies in porttitor lacus. Etiam eu nisi et ligula lacinia pulvinar.
            Curabitur in enim ut quam iaculis pulvinar nec ut ipsum. Pellentesque et mauris libero. Vivamus .
          </p>
        </div>
        <div style="text-align: right;" class="card-action">
          <a href="#">www.project_pineapple.com</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m7">
    <h4 class="header">Project Cold</h4>
    <div class="card horizontal">
      <div id="html" class="card-image">
        <img src="images/cold.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>Cras vel posuere diam. Proin elementum lectus vehicula diam elementum, luctus vehicula dolor gravida. Maecenas
            vitae fringilla metus. Integer molestie cursus velit ac rutrum. Quisque nec mi nec massa ultrices ornare et eget
            purus. In ut arcu nec erat porttitor ultricies in porttitor lacus. Etiam eu nisi et ligula lacinia pulvinar.
            Curabitur in enim ut quam iaculis pulvinar nec ut ipsum. Pellentesque et mauris libero. Vivamus .
          </p>
        </div>
        <div style="text-align: right;" class="card-action">
          <a href="#">www.project_cold.com</a>
        </div>
      </div>
    </div>
  </div>
</body>

</html>